*.class
*.DS_Store

/spark/assembly/*
/spark/project/*

/spark/core/target/
/spark/dev/target/
/spark/examples/target/
/spark/external/flume-sink/target/
/spark/external/mqtt/target/
/spark/external/twitter/target/
/spark/external/zeromq/target/
/spark/external/kafka/target/

/spark/project/target/
/spark/bagel/target/
/spark/graphx/target/
/spark/mllib/target/
/spark/network/common/target/
/spark/network/shuffle/target/
/spark/sql/core/target/
/spark/sql/catalyst/target/
/spark/sql/hive/target/
/spark/streaming/target/
/spark/tools/target/

*/target/
*/bin/*

/spark/lib_managed/

# Package Files #
*.war
*.ear
*.cache
.cache
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
