target/
bin/
lib_managed/
dist/
src_managed/
workspace/
.settings/
metastore_db/
result/

scalastyle-output.xml
*.class
*.DS_Store
*.war
*.ear
*.cache*
*.lock
*.dat

*.index
hs_err_pid*

.classpath
.project